.volume {
  position: absolute;
}

.volumeInput {
  --bar-bg: var(--highlight-color);
  --seek-before-width: 50px;
  --seek-before-color: var(--audio-color);
  --thumb-color: var(--audio-background);
  --thumb-selected: var(--highlight-color);
  appearance: none;
  background: var(--bar-bg);
  border-radius: 10px;
  border: 1px solid black;
  position: relative;
  left: 6px;
  bottom: 57px;
  width: 70px;
  height: 11px;
  transform: rotate(270deg);
}

.volumeInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: none;
  background: var(--thumb-color);
  cursor: pointer;
  position: relative;
  z-index: 3;
  box-sizing: border-box;
}

.volumeBtn {
  padding-left: 12px;
  width: 20px;
}

.infoVol {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playItems {
  display: flex;
  align-items: center;
  justify-content: center;
}

.playPause {
  background-color: var(--highlight-color);
  color: var(--audio-color);
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.playPause:hover {
  color: var(--audio-background);
  background-color: var(--audio-color);
}

.play {
  position: relative;
  left: 2px;
}

.currentTime .duration {
  font-size: 15px;
  padding: 10px 0;
}

.progressBar {
  --bar-bg: var(--audio-color);
  --seek-before-width: 50px;
  --seek-before-color: var(--audio-color);
  --thumb-color: var(--highlight-color);
  --thumb-selected: var(--audio-color);

  appearance: none;
  background: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  width: 350px;
  height: 11px;
  outline: none;
}

/* progress safari */
.progressBar::-webkit-slider-runnable-track {
  background: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 11px;
  outline: none;
}

.progressBar::before {
  content: '';
  height: 11px;
  width: var(--seek-before-width);
  background-color: var(--seek-before-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

.progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: none;
  background: var(--thumb-color);
  cursor: pointer;
  position: relative;
  margin: -2px 0 0 0;
  z-index: 3;
  box-sizing: border-box;
}

.progressBar:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: var(--thumb-selected);
}

/* Mobile */
@media (max-width: 580px) {
  .progressBar {
    width: 150px;
  }
}
