/*  header */

.header {
  background-color: var(--header-background);
  padding: 0 15px;
  padding-bottom: 17px;
  border-bottom: 1px solid black;
}

.header ul {
  display: flex;
}

.header li {
  padding: 0 2px;
  margin: 0 2px;
}

.header a:hover {
  color: var(--header-color);
  border-bottom: 2px var(--highlight-color) solid;
}
